@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@ViewBag.ConnStr</p>

<p>@Html.Raw(@ViewBag.TestRow1_1)</p>

<p>@Html.Raw(@ViewBag.Ds)</p>

<p>Use this area to provide additional information.</p>

<div class="tb-1">@Html.Raw(@ViewBag.Table1)</div>
<div class="tb-2">@Html.Raw(@ViewBag.Table2)</div>